<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
    <head>
        <title>Human Writes | <%= yield(:title) %></title>
    </head>
    <body>
        <h1>
            Human Writes
        </h1>
        <p>
        This is the help page for the author publishing platform
        </p>
    </body>
</html>
