<footer class="footer">
<small>
<a href="http://nukomeet.com/">Nukomeet</a>
by Mu@Yaroq
</small>
<nav>
<ul>
<li><%= link_to "About",   about_path %></li>
<li><%= link_to "Contact", contact_path %></li>
</ul>
</nav>
</footer>
